@import "bourbon/bourbon";

.facebook-close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
}

.facebook-navbar {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 15px 30px;
  h3 {
    margin: 0;
  }
}

.facebook-content {
	max-width: 100%;
	width: 500px;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 10000000;
	left: 0;
	box-shadow: 0 0 3px 0px rgba(0,0,0,0.35);
	height: 100%;
	overflow: -moz-scrollbars-vertical;
  overflow-y: auto;
  overflow-x: hidden;
	@include transform(translateX(-500px));
	@include transition-property(transform);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
	&.visible {
	  @include transform(translateX(0px));
	  @include transition-timing-function(ease-in-out);
	}
}

.facebook-trigger {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999999;
  background-color: #2e4da7;
  font-size: 19px;
  font-weight: 700;
  padding: 5px 10px 7px;
  color: #fff;
  border-radius: 0 0 6px 6px;
  @include transform(translateX(0) translateY(415px) rotate(-90deg));
  @include transform-origin(left top);
	@include transition-property(transform);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);

  &.visible {
	  @include transform(translateX(500px) translateY(415px)rotate(-90deg));
	  @include transition-timing-function(ease-in-out);
	}
	&:hover {
    cursor: pointer;
  }
  @media only screen and (max-width: 555px)  {
    position: relative;
    display: block;
    width: 100%;
    bottom: 0;
    top: initial;
    transform: none;
    border-radius: 0;
    text-align: center;
    z-index: 1;
    &.visible {
      transform: none;
    }
  }
}
